// Colors
$black: #000;
$primary: #333;
$white: #fff;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: (576em / 16),
  md: (768em / 16),
  lg: (992em / 16),
  xl: (1400em / 16)
);

// Grid gutter
$grid-gutter-width-base: rem(30);

// Grid containers
$container-max-widths: (
  sm: rem(540),
  md: rem(720),
  lg: rem(960),
  xl: rem(1380)
);